/* shared styles */
.display-flex{
    display: flex;
}

.navbar{
    justify-content: space-around;
    background-color: rgba(65, 37, 103, 1);
    color: white;

}
.text-color{
    color: plum;
}
.nav-links{
    list-style: none;
    text-decoration: none;
    color: white;
    gap: 24px;
}
.btn-primary{
    
}
.navbar a{
    color: white;
    text-decoration: none;
}
.btn-primary{
width: 145px;
height: 42px;
display: flex;
justify-content: center;
align-items: center;
gap: 4;
padding: 12px 16px 12px 16px;
border-radius: 20px;
margin-top: 8px;
color: white;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
/*hero*/
.hero{
    position: relative;
    width: 1440px;
    height: 700px;
    background-image: url(../assets/hero-bg.png);
    display: grid;
    align-items: center;
    justify-items: center;
}
/*.hero-container{
    display: grid;
    align-items: center;
    justify-items: center;

}*/
.hero-container h2,p{
    color: white;
}
.btn-hero{
    width: 140px;
    height: 42px;
    border-radius: 20px;
    color: green;
    background-color: rgba(65, 37, 103, 1);
}
/*about*/
.about{
    width: 1440px;
    /*width: 100%;*/
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80;
    padding: 50px 200px 120px 200px;
    background-color:rgba(65, 37, 103, 1) ;
    
}
.about p{
    color: white;
}
.about-items{
    color: green;
    font-weight: 800;
}
.about-items p{
    color: green;
}
.ab-head{
    color: white;
}
.about-container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16;

}
.about-items{
    display: flex;
    justify-content: space-around;
    gap: 80px;
}
/*cards*/
.cards {
    background-color: rgba(65, 37, 103, 1);

    padding: 80px 40px;
    max-width: 1440px;
    margin: auto;
}

.cards h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.25rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    background-color: ;
}

.card-item {
    background: #2b0f4f;
    border-radius: 20px;
    padding: 30px;
    grid-column: span 2;
}

.card-high {
    background-color: #2b0f4f;
    padding: 25px;
    border-radius: 18px;
    grid-row: span 2;
}

.card-wide {
    background-color: #2b0f4f;
    padding: 25px;
    border-radius: 18px;
    grid-column: span 1;
}

.cards h2 {
  margin-bottom: 12px;
  color: white;
}
.card-item ,.card-high ,.card-wide h3{
    color: white;
}


